.completada {
 text-decoration: line-through;
 opacity: 0.5;
}
.btn-eliminar {
 padding: 6px 12px;
 background-color: #dc3545;
 color: white;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 margin-left: 4px;
 margin-bottom: 4px;
}
